body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul {
  width: 40%;
  list-style: none;
}

.list-group li {
  text-align: left;
  padding: 10px 15px;
}

.list-group li:hover {
  background-color: rgb(224, 224, 224);
}

code {
  font-family: "Cutive Mono", monospace;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(0, 0, 255);
  background: rgb(253, 241, 186);
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.container-item {
  box-shadow: 0 1px 2px 0 rgba(255, 251, 2, 0.2),
    0 1px 5px 0 rgba(29, 5, 250, 0.19);
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: box-shadow 0.3s;
}

.container-item:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 190, 248, 0.2),
    0 4px 20px 0 rgba(243, 1, 252, 0.19);
}

.box {
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  background-color: #0077ff;
  color: #ffffff;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  margin-right: 1rem;
}

.link-style {
  /* без display ссылки накрывают соседей */
  display: inline-block;
  text-decoration: none;
  color: #3700ff;
  font-size: 45px;
  border: 5px solid #3700ff;
  padding: 20px 40px;
  position: relative;
}

a:hover {
  text-decoration: none;
}

.hidden {
  overflow: hidden;
}

.alert {
  text-align: left;
  background-color: rgb(250, 212, 141);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-left: 8px solid #ff7301;
  line-height: 1.3;
}

/************ стиллизация скролла *****************/
html,
body {
  scrollbar-color: #843465 #253861;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: auto;
  /* толщина */
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 24px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #143861;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #0919e1;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

/*******************/
/****** move-1 *****/
/*******************/
.move-1 {
  transition: transform 1s;
}

/*must be below class "move-1"*/
.ease-out {
  transition-timing-function: ease-out;
}

.move-1:hover {
  transform: translate(20rem, 0);
}

/*******************/
/****** move-2 *****/
/*******************/
.move-2 {
  transition: width 0.3s, color 0.5s 1s;
}

.move-2:hover {
  width: 150px;
  color: #c3e73e;
}

/************************/
/****** move-3,4,5,6,7 ******/
/***********************/
.move-3 {
  background-color: rgb(29, 206, 13);
  transform-origin: right;
  transition: transform 0.3s;
}

.move-3:hover {
  transform: rotate(45deg);
}

.move-4 {
  background-color: rgb(29, 206, 13);
  font-size: 14px;
  transform-origin: right top;
  transition: transform 0.3s;
}

.move-4:hover {
  transform: rotate(-45deg);
}

.move-5,
.move-6,
.move-7 {
  background-color: rgb(29, 206, 13);
  transition: transform 0.3s;
}

.move-5:hover {
  transform: rotateX(90deg);
}

.move-6:hover {
  transform: rotateZ(45deg);
}

.move-7:hover {
  transform: rotateY(45deg);
}

/************************/
/****** move-8 ******/
/***********************/
.move-8 {
  /* контейнер для  position: relative; */
  position: relative;
  background: #000;
  color: #6d6b6b;
  height: 20rem;
}

.titles {
  position: absolute;
  width: 18em;
  height: 20em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 2em;
  line-height: 1.5;
  text-align: justify;
  transform-origin: 50% 100%;
  /* rotateX(25deg) наклоняет плоскость. При 90deg будет развёрнута перпен. глазу и не видно  */
  transform: perspective(300px) rotateX(25deg);
  overflow: hidden;
}

.content {
  position: absolute;
  top: 100%;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    top: 100%;
  }

  to {
    top: -100%;
  }
}

/************************/
/********hover-1 *******/
/***********************/

.hover-1:before {
  content: "";
  position: absolute;
  background-color: #fff200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* change transform-origin for some results */
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.hover-1:hover:before {
  transform: rotate(0deg);
}

/************************/
/********hover-2 *******/
/***********************/

.hover-2 {
  transition: 1s;
}

.hover-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.hover-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.hover-2:hover {
  color: whitesmoke;
}

.hover-2:hover::before {
  transform: rotateX(0deg);
}

.hover-2:hover::after {
  transform: rotateY(0deg);
}

/************************/
/********hover-3 *******/
/***********************/
.hover-3 {
  color: #e1332d;
  border: 3px solid #e1332d;
  font-weight: 200;
  letter-spacing: -2px;
  transition: all 0.5s;
}

.hover-3:hover {
  font-weight: 600;
  letter-spacing: 10px;
  border: 6px solid #e1332d;
}

/************************/
/********hover-4 *******/
/***********************/
.hover-4 {
  transition: all 1s;
}

.hover-4::before {
  content: "YES!";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #f44336;
  /* z-index: -1; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  transform: translateY(-100%);
}

.hover-4:hover::before {
  transform: translateY(0);
}

/************************/
/********hover-5 *******/
/***********************/
.hover-5 {
  transition: all 1s;
}

.hover-5::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 1s;
}

.hover-5:hover::before {
  transform: translateX(0%);
}

.hover-5:hover {
  color: #fff200;
}

/************************/
/********hover-6 *******/
/***********************/
.hover-6 {
  transition: all 0.3s;
}

.hover-6:hover {
  background-color: #ff6347;
}

.hover-6::before {
  content: "";
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.hover-6:hover::before {
  transform: translateX(100%) rotate(45deg);
}

/************************/
/********hover-7 *******/
/***********************/
.hover-7 {
  transition: all 0.3s;
}

.hover-7::before {
  content: "Hello";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffff00;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.hover-7::after {
  content: "By";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffff00;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
  /* слева внизу(правый верх край касается ниж. левого родителя) */
}

.hover-7:hover::before {
  transform: translate(100%, -100%);
}

.hover-7:hover::after {
  transform: translate(0%, 0%);
}

/************************/
/********hover-8 *******/
/***********************/
.hover-8 {
  transition: all 0.5s;
}

.hover-8::before {
  content: "HOVER";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 195, 255);
  color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

.hover-8:hover::before {
  transform: scale(1);
  opacity: 1;
}

/************************/
/********hover-9 *******/
/***********************/
.hover-9 {
  display: flex;
  list-style-type: none;
}

.hover-9 li a {
  display: block;
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ff0000;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
}

.hover-9 li span {
  position: absolute;
  width: 33.33%;
  height: 100%;
  background-color: #262626;
  z-index: -1;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s;
}

.hover-9 li span:nth-child(2) {
  left: 33.33%;
  transition-delay: 0.25s;
}

.hover-9 li span:nth-child(3) {
  left: 66.66%;
  transition-delay: 0.35s;
}

.hover-9 li a:hover span {
  transform: scaleY(1);
}

.hover-9 li a:hover {
  color: #ffffff;
}

/************************/
/********hover-10 *******/
/***********************/
.hover-10.btn {
  border: 2px solid tomato;
  background: none;
  color: tomato;
  padding: 25px 50px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  margin-bottom: 1rem;
  color: tomato;
  overflow: hidden;
}

.hover-10.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: tomato;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  height: 0%;
  transition: all 0.5s;
}

.hover-10.btn:hover {
  color: white;
}

.hover-10.btn:hover::before {
  height: 200%;
}

/************************/
/********hover-11 *******/
/***********************/
.hover-11 {
  display: inline-block;
  padding: 25px 50px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffe600;
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
}

.hover-11::before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

.hover-11:hover::before,
.hover-11:hover::after {
  transform: rotateX(0deg);
}

.hover-11::after {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

/************************/
/********hover-12 *******/
/***********************/
a.hover-12 {
  display: inline-block;
  background-color: rgb(0, 140, 255);
  padding: 25px 50px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: transparent;
  font-size: 30px;
  border: 3px solid yellow;
  position: relative;
  margin-bottom: 1rem;
}

a.hover-12::before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

a.hover-12:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

a.hover-12::after {
  content: "button";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: grey;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

a.hover-12:hover::after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}
/************************/
/********hover-13 *******/
/***********************/
a.hover-13 {
  width: 220px;
  height: 80px;
  color: yellow;
  padding: 25px 50px;
  background-color: transparent;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  transition: all 0.5s;
  position: relative;
}
a.hover-13::before,
a.hover-13::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}
a.hover-13::before {
  left: 0;
  box-shadow: -100px 0 0 green;
}
a.hover-13::after {
  right: 0;
  box-shadow: 100px 0 0 blue;
}
a.hover-13:hover::before {
  left: 50%;
  box-shadow: 30px 0 0 yellow;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
a.hover-13:hover::after {
  right: 50%;
  box-shadow: -30px 0 0 yellow;
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}
a.hover-13 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;
  z-index: -1;
}
a.hover-13:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
}
.hover-13:hover {
  color: grey;
  transition-delay: 0.4s;
}
/************************/
/********hover-14 *******/
/***********************/
a.hover-14 {
  display: inline-block;
  width: 150px;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  padding: 25px 50px;
  transition: all 0.2s;
  margin-bottom: 1rem;
  color: white;
}
a.hover-14::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #20caff;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: top;
}
a.hover-14::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #ff2075;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: bottom;
}
a.hover-14:hover::before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}
a.hover-14:hover::after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}
a.hover-14:hover {
  color: grey;
}
/************************/
/********hover-15 *******/
/***********************/

.container_hover-15 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.container_hover-15 img {
  width: 100%;
  transition: all 0.5s;
}
.container_hover-15 .caption {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0);
}
.container_hover-15 .caption h1 {
  text-transform: uppercase;
  margin: 0;
}
.container_hover-15 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
.container_hover-15:hover .caption {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.container_hover-15:hover img {
  transform: scale(1.2) rotate(5deg);
}
/************************/
/********hover-16 *******/
/***********************/
.container_hover-16 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.container_hover-16 img {
  width: 100%;
  transition: all 0.5s;
}
.container_hover-16 .caption {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
}
.container_hover-16 .caption h1 {
  text-transform: uppercase;
  margin: 0;
}
.container_hover-16 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
.container_hover-16:hover .caption {
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateX(0);
}
/************************/
/********hover-17 *******/
/***********************/
.container_hover-17 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.container_hover-17 img {
  width: 100%;
  transition: all 0.5s;
}
.container_hover-17 .caption {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0);
  transform: translateX(-100%);
}
.container_hover-17 .caption h1 {
  text-transform: uppercase;
  margin: 0;
}
.container_hover-17 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
.container_hover-17:hover .caption {
  transform: translateX(0);
}
.container_hover-17:hover img {
  transform: translateX(100%);
}
/************************/
/********hover-18 *******/
/***********************/
.container_hover-18 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.container_hover-18 img {
  width: 100%;
  transition: all 0.5s;
}
.container_hover-18 .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0);
  transform: translateY(100%);
}
.container_hover-18 .caption h1 {
  text-transform: uppercase;
  margin: 0;
}
.container_hover-18 .caption p {
  font-size: 18px;
  text-transform: capitalize;
}
.container_hover-18:hover .caption {
  transform: translateY(0);
}
.container_hover-18:hover img {
  transform: translateY(-30%);
}
/************************/
/********hover-19 *******/
/***********************/
.container_hover-19 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.container_hover-19 img {
  width: 100%;
}
.container_hover-19::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0);
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}
.container_hover-19:hover::before {
  transform: translateY(0);
  transition-delay: 0s;
}
.container_hover-19 .caption {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-30px);
  opacity: 0;
  transition: all 0.25s;
}
.container_hover-19:hover .caption {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}
.container_hover-19 h1,
.container_hover-19 h4 {
  margin: 0;
  letter-spacing: 1px;
}
.container_hover-19 h1 {
  text-transform: uppercase;
  font-weight: 400px;
  margin-bottom: 5px;
}
.container_hover-19 h4 {
  background-color: #ae895dce;
  padding: 3px 5px;
}
/************************/
/********hover-20 *******/
/***********************/
.container_hover-20 {
  display: flex;
  
}
.container_hover-20 li {
  list-style-type: none;
  color: rgb(0, 68, 255);
  font-size: 100px;
  font-weight: bold;
  transition: all 2s;
}
.container_hover-20:hover li {
  transform: rotate(45deg) translateY(-200px);
  opacity: 0;
  filter: blur(20px);
}
.container_hover-20 li:nth-child(1) {
  transition-delay: 0;
}
.container_hover-20 li:nth-child(2) {
  transition-delay: 0.4s;
}
.container_hover-20 li:nth-child(3) {
  transition-delay: 0.8s;
}
.container_hover-20 li:nth-child(4) {
  transition-delay: 1.2s;
}
.container_hover-20 li:nth-child(5) {
  transition-delay: 1.6s;
}
