body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
  margin-top: 1.5rem;
}
ul {
  width: 30%;
  list-style: none;
}
ul li {
  padding: 10px 15px;
}
ul li:hover {
  background-color: rgb(224, 224, 224);
}
.container {
  max-width: 1200px;
  margin: auto;
}
.box {
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  background-color: #0077ff;
  color: #ffffff;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.link-style {
  /* без display ссылки накрывают соседей */
  display: inline-block;
  text-decoration: none;
  color: #272727;
  font-family: serif;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
}
a:hover {
  text-decoration: none;
}
.hidden {
  overflow: hidden;
}
/*******************/
/****** move-1 *****/
/*******************/
.move-1 {
  transition: transform 1s;
}
/*must be below class "move-1"*/
.ease-out {
  transition-timing-function: ease-out;
}
.move-1:hover {
  transform: translate(20rem, 0);
}
/*******************/
/****** move-2 *****/
/*******************/
.move-2 {
  transition: width 0.3s, color 0.5s 1s;
}
.move-2:hover {
  width: 150px;
  color: #c3e73e;
}
/************************/
/****** move-3,4,5,6,7 ******/
/***********************/
.move-3 {
  background-color: rgb(29, 206, 13);
  transform-origin: right;
  transition: transform 0.3s;
}

.move-3:hover {
  transform: rotate(45deg);
}
.move-4 {
  background-color: rgb(29, 206, 13);
  font-size: 14px;
  transform-origin: right top;
  transition: transform 0.3s;
}

.move-4:hover {
  transform: rotate(-45deg);
}
.move-5,
.move-6,
.move-7 {
  background-color: rgb(29, 206, 13);
  transition: transform 0.3s;
}
.move-5:hover {
  transform: rotateX(90deg);
}

.move-6:hover {
  transform: rotateZ(45deg);
}

.move-7:hover {
  transform: rotateY(45deg);
}
/************************/
/****** move-8 ******/
/***********************/
.move-8 {
  /* контейнер для  position: relative; */
  position: relative;
  background: #000;
  color: #6d6b6b;
  height: 20rem;
}
.titles {
  position: absolute;
  width: 18em;
  height: 20em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 2em;
  line-height: 1.5;
  text-align: justify;
  transform-origin: 50% 100%;
  /* rotateX(25deg) наклоняет плоскость. При 90deg будет развёрнута перпен. глазу и не видно  */
  transform: perspective(300px) rotateX(25deg);
  overflow: hidden;
}
.content {
  position: absolute;
  top: 100%;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    top: 100%;
  }
  to {
    top: -100%;
  }
}
/************************/
/********hover-1 *******/
/***********************/

.hover-1:before {
  content: "";
  position: absolute;
  background-color: #fff200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* change transform-origin for some results */
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.hover-1:hover:before {
  transform: rotate(0deg);
}
