/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********************** end reset css *******************************/
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'El Messiri', sans-serif;
    font-size: 2.4rem;
    line-height: 1.25;
    background-color: #ffffff;
    color: #000000;
}

main {
    border: 1px solid darkred;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2dd00;
    padding: 4.8rem;
}

header h1 {
    max-width: 265px;
}

header h1 img {
    max-width: 100%;
}

header nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 5px 0;
    position: relative;
    text-decoration: none;
    color: #000000;
    margin-left: 2.4rem;
    overflow: hidden;
}

nav a img {
    position: absolute;
    bottom: 0;
    display: block;
    transform: translateX(-100%);
    /*если оставить это свойство будет виден откат влево*/
    /*transition: transform 0.5s;*/
}

nav a:hover img {
    transform: translateX(0%);
    transition: transform 0.3s linear;
}

nav a.animate-out img {
    transition: transform 0.3s linear;
    transform: translateX(100%);
}

section {
    padding: 9.6rem;
}

section.yellow {
    background-color: #f2dd00;
}

section.salmon {
    background-color: #f09291;
}

section.baby-blue {
    background-color: #bee3f8;
}

h2 {
    font-size: 9.6rem;
    text-align: center;
    max-width: 10em;
    margin: 0 auto;
}

figure {
    position: relative;
    max-width: 70rem; /* ширина картинки 700px */
    margin: 0 auto;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    position: absolute;
    top: 55%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 40%;
}

/*figcaption::after {*/
/*    padding-top: 160%;*/
/*}*/

.salmon figcaption {
    left: 0;
}

figcaption img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 35rem;
    opacity: 0;
    transition: opacity 0.5s 0.5s;
    /*aspect-ratio: auto;*/
}

figcaption img:nth-child(2) {
    transition-delay: 1s;
}

figcaption img:nth-child(3) {
    transition-delay: 1.5s;
}

figcaption.in-view img {
    opacity: 1;
}

div.cursor, div.cursor-outer {
    display: none;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 600px) {
    body, a, a:hover {
        cursor: none;
    }

    div.cursor {
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 20px; /* size of the cursor.svg */
        height: 20px;
        background-image: url("./assets/cursor.svg");
        pointer-events: none;
        transform: translate(-50%, -50%);
    }

    div.cursor-outer {
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100px;
        height: 100px;
        background-image: url("./assets/rotating-cursor.png");
        background-size: 100px 100px;
        pointer-events: none;
        transform: translate(-50%, -50%);
        animation: rotate 20s infinite linear;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 32.5%;
    }

    header h1 img {
        max-width: 75%;
    }

    nav a {
        font-size: 18px;
    }
}