//@font-face {
//  font-family: 'PT Root';
//  src: url('/assets/ptroot.woff2') format("woff2");
//}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    background-color: #1f1f1f;
    color: #eeeeee;
}

/*  HEADER  */
header {
    position: fixed;
    top: 8px;
    left: 0;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    z-index: 1000;
}

header h1, header h2 {
    display: flex;
}

h1 span, h2 span {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    display: inline-block;
    width: 170px;
}

h2 span {
    width: 320px;
}
/* SECTION photo */
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    grid-auto-flow: dense;
}
section .split{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section .split:first-child{
    background-color: #000000;
}
section .slides{
    position: relative;
    perspective: 800px;
    width: 500px;
    height: 750px;
    
}
section .slides img{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 40px 30px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 40px 30px rgba(0, 0, 0, 0.22);
    width: 100%;
    height: auto;
}
/* SECTION text */
section .info{
    padding: 2rem;
    max-width: 480px;
}
section h2 {
    font-size: 2rem;
}
/* LINK */
section a {
    background-color: #ffffff;
    color: #111111;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 8px 24px 8px 24px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
}
section a img {
    margin-left: 8px;
    width: 15px;
    height: 20px;
    object-fit: cover;
    object-position: center right;
    transition: width 0.25s;
}
section a:hover img{
    width: 30px;
}
/*SECTION ALTERNATIVE*/
section.alternative .split:first-child {
    grid-column: 2;
}
section.alternative .split:last-child {
    grid-column: 1;
}
@media (max-width: 1080px) {
    section {
        display: block;
    }

    section div.split {
        padding: 64px 0 64px 0;
    }
}

@media (max-width: 700px) {
    section div.slides,
    section div.slides img {
        width: 80vw;
        height: 120vw;
    }
}
